body{
    display: flexbox;
    flex-wrap: wrap;
}

header{
    background-color: lightblue;
    height: fit-content;
    font-size: x-large;
}
header nav{
display: inline;
font-size: medium;
position: relative;
bottom: 0;
left:auto;
float: right;
    /* ? */
}

#intro{
    font-size: large;
}

#gradient{
width:auto;
height: 100px;
background-image: linear-gradient(blue,lightblue);
}   



.box1{
    display: flex;
} 

.page-section {
    display: flex;
    padding: 20px 0;
    margin: 30px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}


.box1 h2{
    height: 80px;
    border-right: 2px solid black;
}


.box3 h2{
    height: 250px;
    border-right: 2px solid black;
} */


p{
    font-size: large;
}



#workContainer{
    display: flex;
    flex-wrap: wrap; 
    /* flex-direction:column; */
    width:100%;     
}

#workMargin{
    display: flexbox;
    border-right: 2px solid black;
    width: 4%;
    height: 100px;

}

#projectcontainer{
    display: flex;
    flex-wrap: wrap; 
    /* flex-direction:column; */
    width: 100%;     
}


#project1{
    width: 82%;
    display: block;
    margin: 1%;
    height: 400px;
    position: relative;
}


.item{
    width: 40%;
    display: block;
    margin: 1%;
    height: 400px;
    position: relative;
}


img{
    width: 100%;
    height: 400px;
}


#contact_me{
    display: flexbox;
    flex-wrap: wrap;
}

.projectName{
    background-color: blue;
    color: wheat;
    width:fit-content;
    position: absolute;
    top: 30%;
}

#resume{
    font-size: medium;
}